
@media (max-width: 600px) {
#header_slider .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  height: 500px;
  width: 200%;
}
 #header_slider.img-responsive, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 200%;
}
}

@media (max-width: 600px) {
.divider1 {
  width: 120px;
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  margin-left: 30%;
  border-top: 3px solid #ced0d2;
  float: none;
}
}

@media (max-width: 600px) {
#header_slider .carousel-caption {
  width: 300px;
  left: 10%;
  right: 20%;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgba(57, 62, 82, 0.89);
}
}
@media (max-width: 768px) {
  #emandamento .carousel .carousel-caption {
  left: 20%;
  right: 20%;
  padding-bottom: 300px;
  text-align: left;
}
}
@media (max-width: 768px) {
#emandamento .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  line-height: 1;
  height: 1000px;
}
.emandamento-section .carousel .item .photos {
  /* min-width: 480px; */
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
#conheca p {
  text-align: left;
  width: 100%;
}
}
#obras_slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  /* height: 490px; */
  border: none;
  overflow: visible;
}
}